<section class="{{blk.classes}}" id="{{blk.anchor}}">
  <div class="wrap">
    <div class="sec-head reveal">
      <p class="kicker">{{label_menu}}</p>
      <h2>{{menu_title_html}}</h2>
      {{#if menu_intro}}<p>{{menu_intro}}</p>{{/if}}
    </div>
    <div class="index-list">
      {{#each menu_items}}
      <a class="index-row reveal" href="{{this.wa_url}}" target="_blank" rel="noopener" data-track="item-wa">
        <span class="index-n">{{@n2}}</span>
        <span class="index-body">
          <span class="index-name">{{this.name}}</span>
          {{#if this.desc}}<span class="index-desc">{{this.desc}}</span>{{/if}}
        </span>
        {{#if this.category}}<span class="index-cat">{{this.category}}</span>{{/if}}
        <span class="index-price">{{this.price}}</span>
      </a>
      {{/each}}
    </div>
  </div>
</section>
